* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.input-container
{
   background-color: slategray;
   height: 15vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

#check
{
    background-color: slategray;
}
#check::placeholder{
    color: white;
}

#button{
    background-color: white;
}
main{
    background-color: darkslategray;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;

}
.weather-container
{
   width: 25vw;
   display: flex;
    
}

.location
{
    font-size: 2rem;
    font:bold;
}

.temperature
{
    padding: 2%;
}

.location-data
{
    padding: 2%;
}

.weather-status
{
    padding: 2%;
}



